################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game/.vs/game
/game/bin
/game/x64\Debug
